@import '../../css/settings';
@import '../../css/mixins/index';

.page__main {
  flex: 1;
  overflow: hidden;
}

.page__narrow--anchor {
  display: none;
  left: 30px;
  position: absolute;
  top: 30px;
}

.menu__button{
  display: block;
  left: 5px;
  position: absolute;
  top: 5px;
  z-index: 101;
}

@media screen and (min-width: 1025px) {
  .menu__button{
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .page__narrow--anchor {
    display: block;
  }
}
